//----------------------------------------------------
// DOM Elements
h1, h2, h3, h4, h5, h6{
  font-family: 'prox-regular';
}

input[type=checkbox],
input[type=radio] {
  z-index: -1;
}

p{
  margin: 0 0 12px;
}

a{
  &, &:visited{
    text-decoration: none;
    color: $aggie-orange;
  }
  &:hover{
    color: $csu-green;
  }
}

body{
  background-color: $white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

img{
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar:hover {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $grey;
  border: 14px none $white;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active{
  background: $grey;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none $white;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active,
::-webkit-scrollbar-corner {
  background: transparent;
}
