//----------------------------------------------------
// Site Width Types
.single-column{
  #main-content{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: $site-width;
    max-width: $page-max-width;
  }
  .navbar-header{
    float: right;
  }
  .navbar-collapse{
    padding-left: 0;
  }
  .navbar-fixed-top{
    top: $csu-header-top-height;
  }
}

// 100% width
.full-width{
  @media (min-width: 768px){
    .navbar-nav {
      margin-right: -15px;
    }
  }
  .navbar{
    margin-bottom: 0;
  }
  header .container{
    width: initial;
    max-width: initial;
  }
  .topbar{
    .top-header, .bottom-header{
      padding-left: 20px;
    }
    .navbar{
      position: initial;
    }
  }
  #main-content{
    width: inherit;
    max-width: inherit;
    margin-left: 0;
    margin-right: 0;
    display: flex;
      flex-direction: column;
    &>.row{
      flex: 1;
    }
  }
  .container-fluid>.row{
    display: flex;
    flex-direction: row;
  }
  .sidebar {
    display: none;
  }
  @media (min-width: 768px) {
    .sidebar {
      display: block;
      padding: 10px 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      flex-grow: 1;
      background-color: $off-white;
    }
  }

  /* Sidebar navigation */
  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
    font-size: 1em;
    font-weight: bold;
    &>li>a{
      color: $black;
      padding-right: 20px;
      padding-left: 20px;
      border-left: 5px solid transparent;
      &:hover{
        border-left: 5px solid $csu-green;
        // font-weight: bold;
        color: $csu-green;
        background-color: $white;
        font-size: 1.05em;
      }
    }
    &>.active>a,
    &>.active>a:hover,
    &>.active>a:focus {
      color: $csu-green;
      border-left: 5px solid $aggie-orange;
      background-color: $white;
      font-weight: bold;
      font-size: 1.05em;
    }
  }
  .main {
    padding: 20px;
    flex-grow: 1;
    .page-header {
      margin-top: 0;
    }
  }
  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  #site-footer{
    margin-top: 0;
  }
}
