.white-color{color: $white;}
.white-bg-color{color: $white;}
.off-white-color{color: $off-white;}
.white-grey-color, .white-gray-color{color: $white-grey;}
.white-grey-bg-color, .white-gray-bg-color{background-color: $white-grey;}
.grey-color, .gray-color{color: $grey;}
.medium-grey-color, .medium-gray-color{color: $medium-grey;}
.black-color{color: $black;}

// Bootstrap Alert colors
.success-color{color: $alert-success;}
.info-color{color: $alert-info;}
.warning-color{color: $alert-warning;}
.danger-color{color: $alert-danger;}
.background-color{color: $alert-background;}

// CSU COLORS
// Primary Colors
.csu-green-color{color: $csu-green;}
.csu-gold-color{color: $csu-gold;}
.csu-white-color{color: $csu-white;}

// Secondary Colors
.aggie-orange-color{color: $aggie-orange;}
.black-80-color{color: $black-80;}

// Tertiary Colors
.alfalfa-color{color: $alfalfa;}
.canyon-color{color: $canyon;}
.dark-slate-color{color: $dark-slate;}
.reservoir-color{color: $reservoir;}
.sunshine-color{color: $sunshine;}

//Custom Colors
.dark-green-color{color: $dark-green;}
.light-green-color{color: $light-green;}

// RICRO Committees and Groups
.excon-color{color: $excon-color;}
.iacuc-color{color: $iacuc-color;}
.ibc-color{color: $ibc-color;}
.irb-color{color: $irb-color;}
.qa-color{color: $qa-color;}
.rcr-color{color: $rcr-color;}
