//----------------------------------------------------
// CSU Header
.nav-sidebar,
.navbar{
  .badge{
    float: right;
    color: #1e4d2b;
    background-color: transparent;
    font-weight: bold;
  }
}
.topbar{
  width: auto;
  background: $csu-green;
  min-height: $csu-header-height;
  border-color: transparent;
  .signature #responsiveLogoSubsystem a{
    display: none;
  }
  .container{
    width: 90%;
  }
  .navbar-normal{
    border: transparent;
    .navbar-brand {
      color: $csu-green;
      font-family: 'prox-semibold';
    }
    .navbar-nav{
      &>.active>a{
        background-color: $white-grey;
      }
      &>li>a{
        color: $csu-green;
        font-weight: bold;
        &:hover {
          color: $white;
          background-color: $aggie-orange;
        }
      }
    }
    .navbar-toggle{
      border-color: transparent;
    }
    .navbar-collapse{
      border-color: rgba(0, 0, 0, 0.07);
    }
  }
  .navbar{
    background-color: $csu-white;
    border-radius: 0;
    position: fixed;
    width: 100%;
  }
  .bottom-header{
    box-shadow: 0 4px 2px -2px $white-grey;
  }
  &.sticky{
    background-color: transparent;
    z-index: 100;
    .bottom-header{
      top: 0;
    }
  }
}

// Top Navigation
.navbar-normal .navbar-toggle{
  margin-left: 15px;
  margin-right: 0px;
  float: left;
  background-color: transparent;
  .icon-bar{
    background-color: $csu-green;
  }
  &:focus, &:hover {
    background-color: transparent;
  }
  &:hover{
    .icon-bar{
      background-color: $aggie-orange;
    }
  }
}
