//----------------------------------------------------
// Main Content
#main-content{
  flex: 1;
}
#root, #root>div{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-header{
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid $csu-gold;
  h1{
    font-weight: bold;
  }
}

.section-container{
  margin: 35px 0;
}
.section-header{
  padding: 5px 0;
  border-bottom: 4px double $gray;
  font-weight: bold;
}

.permalink{
  .icon{
    display: none;
    color: $gray;
    padding: 0 5px;
  }
  // &:hover{ // NOTE Uncomment for permalink styles
  //   cursor: pointer;
  //   .icon{
  //     display: initial;
  //   }
  // }
}

.module-showcase{
  header{
    border-bottom: 1px solid $gray;
  }
}

.text-box{
  h4{
    border-bottom: 1px solid $white-gray;
    padding: 3px 0;
    font-family: 'prox-semibold';
    small{
      font-size: 65%;
      color: #b3b3b3;
    }
  }
  h6{
    color: #b3b3b3;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &.row{
    margin:0;
  }
}

.blur{
  &-1{filter: blur(1px);}
  &-2{filter: blur(2px);}
  &-3{filter: blur(3px);}
  &-4{filter: blur(4px);}
}

.flex-col-header{
  display: flex;
  .fa-stack{
    height: 0;
    float: right;
    line-height: inherit;
    margin-left: auto;
    color: $gray;
    .active{
      color: $black;
      display: initial;
    }
    i:first-child{
      margin-top: -4px;
    }
    i:last-child{
      margin-top: 4px;
    }
  }
}

.flex{
  .body{flex: 1;}
  header,.body,footer{padding: 0.5em 0;}
  &-{
    &row{flex-direction: row;}
    &row-reverse{flex-direction: row-reverse;}
    &column{flex-direction: column;}
    &column-reverse{flex-direction: column-reverse;}
  }
}

.indent{
  margin-left: 1em;
}

.define-term{
  $border-radius: 1px;
  margin: 10px;
  display: flex;
  .term{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: $csu-green;
    color: $white;
    padding: 7px 0;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  .def{
    background: #e4e4e4;
    padding: 7px 15px;
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}

.contact-block{
  @include box-shadow();
  flex: 1;
  p{
    margin: 0;
  }
  .name{
    font-size: 1.1em;
    font-weight: bold;
  }
  .title{
    font-style: italic;
  }
}

@media(min-width: 992px){
  .flex{
    display: flex;
    &-row,&-row-reverse,&-column,&-column-reverse{
      display: flex;
    }
  }
}

.nav-tabs-table{
  margin-bottom:20px;
}

.selectable tbody tr:hover{
  cursor: pointer;
}


// Error page styling
.error-page-heading{
  text-transform: uppercase;
  font-weight: bold;
}

#page-404_not_found #main-content {
  display: flex;
  flex: 1 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  div{
    display: flex;
    flex: 1 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -15%;
    .text-background{
      font-size: 42vmin;
      color: #e8e8e8;
      position: absolute;
      z-index: -1;
      margin-top: 0;
    }
  }
}
