$white: #fff;
$off-white: #f4f4f4;
$white-grey: #ececec;
$white-gray: $white-grey;
$grey: #c7c7c7;
$gray: $grey;
$medium-grey: #ababab;
$medium-gray: $medium-grey;
$black: #333333;

// Bootstrap Alert colors
$alert-success: #4caf50;
$alert-info: #03a9f4;
$alert-warning: #ff5722;
$alert-danger: #f44336;
$alert-background: #f5f5f5;

// CSU COLORS
// Primary Colors
$csu-green: #1e4d2b;
$csu-gold: #c8c372;
$csu-white: #ffffff;

// Secondary Colors
$aggie-orange: #d9782d;
$black-80: #59595b;

// Tertiary Colors
$alfalfa: #C9D845;
$canyon: #CC5430;
$dark-slate: #105456;
$reservoir: #12A4B6;
$sunshine: #ECC530;

//Custom Colors
$dark-green: #16321d;
$light-green: #5e7163;

// Static Sizes of Elements
$csu-header-top-height: 61px;
$csu-header-bottom-height: 50px;
$csu-header-height: $csu-header-top-height;
$csu-header-margin: 20px;
$page-max-width: 1240px;
$site-width: 90%;

// Elements
$box-shadow: 0px 0px 10px #d0d0d0;

// RICRO Committees and Groups
$excon-color: #4986e7;
$iacuc-color: #f83a22;
$ibc-color: #7bd148;
$irb-color: #a47ae2;
$qa-color: #16A765;
$rcr-color: #fad165;
