.white-color {
  color: #fff; }

.white-bg-color {
  color: #fff; }

.off-white-color {
  color: #f4f4f4; }

.white-grey-color, .white-gray-color {
  color: #ececec; }

.white-grey-bg-color, .white-gray-bg-color {
  background-color: #ececec; }

.grey-color, .gray-color {
  color: #c7c7c7; }

.medium-grey-color, .medium-gray-color {
  color: #ababab; }

.black-color {
  color: #333333; }

.success-color {
  color: #4caf50; }

.info-color {
  color: #03a9f4; }

.warning-color {
  color: #ff5722; }

.danger-color {
  color: #f44336; }

.background-color {
  color: #f5f5f5; }

.csu-green-color {
  color: #1e4d2b; }

.csu-gold-color {
  color: #c8c372; }

.csu-white-color {
  color: #ffffff; }

.aggie-orange-color {
  color: #d9782d; }

.black-80-color {
  color: #59595b; }

.alfalfa-color {
  color: #C9D845; }

.canyon-color {
  color: #CC5430; }

.dark-slate-color {
  color: #105456; }

.reservoir-color {
  color: #12A4B6; }

.sunshine-color {
  color: #ECC530; }

.dark-green-color {
  color: #16321d; }

.light-green-color {
  color: #5e7163; }

.excon-color {
  color: #4986e7; }

.iacuc-color {
  color: #f83a22; }

.ibc-color {
  color: #7bd148; }

.irb-color {
  color: #a47ae2; }

.qa-color {
  color: #16A765; }

.rcr-color {
  color: #fad165; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'prox-regular'; }

input[type=checkbox],
input[type=radio] {
  z-index: -1; }

p {
  margin: 0 0 12px; }

a, a:visited {
  text-decoration: none;
  color: #d9782d; }
a:hover {
  color: #1e4d2b; }

body {
  background-color: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

img {
  max-width: 100%; }

::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar:hover {
  width: 13px;
  height: 13px; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border: 14px none #fff;
  border-radius: 2px; }

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: #c7c7c7; }

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #fff;
  border-radius: 0px; }

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active,
::-webkit-scrollbar-corner {
  background: transparent; }

@media (min-width: 1200px) {
  .container {
    width: 90%;
    max-width: 1240px;
    padding-left: 0; } }
.btn {
  border-radius: 1px; }
  .btn-csu {
    color: #fff;
    background-color: #1e4d2b; }
    .btn-csu:hover {
      border-color: #1e4d2b;
      background-color: #c8c372;
      color: #59595b; }
    .btn-csu:focus {
      color: #fff; }

.font-bold {
  font-weight: bold; }

.nav {
  font-family: 'prox-regular';
  font-size: 1.1em; }

.label-excon {
  color: #fff;
  background-color: #4986e7; }
.label-iacuc {
  color: #fff;
  background-color: #f83a22; }
.label-ibc {
  color: #fff;
  background-color: #7bd148; }
.label-irb {
  color: #fff;
  background-color: #a47ae2; }
.label-qa {
  color: #fff;
  background-color: #16A765; }
.label-rcr {
  color: #fff;
  background-color: #fad165; }

.form-group.col-lg-1 .control-label, .form-group.col-lg-10 .control-label, .form-group.col-lg-11 .control-label, .form-group.col-lg-12 .control-label, .form-group.col-lg-2 .control-label, .form-group.col-lg-3 .control-label, .form-group.col-lg-4 .control-label, .form-group.col-lg-5 .control-label, .form-group.col-lg-6 .control-label, .form-group.col-lg-7 .control-label, .form-group.col-lg-8 .control-label, .form-group.col-lg-9 .control-label, .form-group.col-md-1 .control-label, .form-group.col-md-10 .control-label, .form-group.col-md-11 .control-label, .form-group.col-md-12 .control-label, .form-group.col-md-2 .control-label, .form-group.col-md-3 .control-label, .form-group.col-md-4 .control-label, .form-group.col-md-5 .control-label, .form-group.col-md-6 .control-label, .form-group.col-md-7 .control-label, .form-group.col-md-8 .control-label, .form-group.col-md-9 .control-label, .form-group.col-sm-1 .control-label, .form-group.col-sm-10 .control-label, .form-group.col-sm-11 .control-label, .form-group.col-sm-12 .control-label, .form-group.col-sm-2 .control-label, .form-group.col-sm-3 .control-label, .form-group.col-sm-4 .control-label, .form-group.col-sm-5 .control-label, .form-group.col-sm-6 .control-label, .form-group.col-sm-7 .control-label, .form-group.col-sm-8 .control-label, .form-group.col-sm-9 .control-label, .form-group.col-xs-1 .control-label, .form-group.col-xs-10 .control-label, .form-group.col-xs-11 .control-label, .form-group.col-xs-12 .control-label, .form-group.col-xs-2 .control-label, .form-group.col-xs-3 .control-label, .form-group.col-xs-4 .control-label, .form-group.col-xs-5 .control-label, .form-group.col-xs-6 .control-label, .form-group.col-xs-7 .control-label, .form-group.col-xs-8 .control-label, .form-group.col-xs-9 .control-label {
  left: 15px; }

.col-md-6.form-group.label-floating.is-focused label.control-label,
.col-md-6.form-group.label-floating:not(.is-empty) label.control-label,
.col-md-6.form-group.label-static label.control-label {
  left: 15px; }

.form-group {
  margin-bottom: 20px; }

.fa-before:before {
  font-family: FontAwesome;
  padding-right: 5px;
  font-weight: normal; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background: #ececec;
  color: #1e4d2b; }

.display-none {
  display: none; }

.display-initial {
  display: initial; }

.dropdown .active a {
  border-left: 4px solid #d9782d;
  font-weight: bold; }

.disclaimer {
  font-size: 85%;
  font-style: italic; }

.box-shadow {
  box-shadow: 0px 0px 10px #d0d0d0;
  padding: 10px 20px;
  margin: 15px 0; }

.row-table .row {
  border-bottom: 1px solid #ececec; }
  .row-table .row .header * {
    text-align: right;
    font-weight: bold; }
  .row-table .row .body {
    text-align: left; }

.comment-block .icon {
  float: left;
  text-align: center; }
.comment-block .panel {
  margin-left: 45px; }
  .comment-block .panel .panel-heading {
    cursor: pointer; }

.nav-sidebar .badge,
.navbar .badge {
  float: right;
  color: #1e4d2b;
  background-color: transparent;
  font-weight: bold; }

.topbar {
  width: auto;
  background: #1e4d2b;
  min-height: 61px;
  border-color: transparent; }
  .topbar .signature #responsiveLogoSubsystem a {
    display: none; }
  .topbar .container {
    width: 90%; }
  .topbar .navbar-normal {
    border: transparent; }
    .topbar .navbar-normal .navbar-brand {
      color: #1e4d2b;
      font-family: 'prox-semibold'; }
    .topbar .navbar-normal .navbar-nav > .active > a {
      background-color: #ececec; }
    .topbar .navbar-normal .navbar-nav > li > a {
      color: #1e4d2b;
      font-weight: bold; }
      .topbar .navbar-normal .navbar-nav > li > a:hover {
        color: #fff;
        background-color: #d9782d; }
    .topbar .navbar-normal .navbar-toggle {
      border-color: transparent; }
    .topbar .navbar-normal .navbar-collapse {
      border-color: rgba(0, 0, 0, 0.07); }
  .topbar .navbar {
    background-color: #ffffff;
    border-radius: 0;
    position: fixed;
    width: 100%; }
  .topbar .bottom-header {
    box-shadow: 0 4px 2px -2px #ececec; }
  .topbar.sticky {
    background-color: transparent;
    z-index: 100; }
    .topbar.sticky .bottom-header {
      top: 0; }

.navbar-normal .navbar-toggle {
  margin-left: 15px;
  margin-right: 0px;
  float: left;
  background-color: transparent; }
  .navbar-normal .navbar-toggle .icon-bar {
    background-color: #1e4d2b; }
  .navbar-normal .navbar-toggle:focus, .navbar-normal .navbar-toggle:hover {
    background-color: transparent; }
  .navbar-normal .navbar-toggle:hover .icon-bar {
    background-color: #d9782d; }

.single-column #main-content {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1240px; }
.single-column .navbar-header {
  float: right; }
.single-column .navbar-collapse {
  padding-left: 0; }
.single-column .navbar-fixed-top {
  top: 61px; }

.full-width {
  /* Sidebar navigation */ }
  @media (min-width: 768px) {
    .full-width .navbar-nav {
      margin-right: -15px; } }
  .full-width .navbar {
    margin-bottom: 0; }
  .full-width header .container {
    width: initial;
    max-width: initial; }
  .full-width .topbar .top-header, .full-width .topbar .bottom-header {
    padding-left: 20px; }
  .full-width .topbar .navbar {
    position: initial; }
  .full-width #main-content {
    width: inherit;
    max-width: inherit;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column; }
    .full-width #main-content > .row {
      flex: 1; }
  .full-width .container-fluid > .row {
    display: flex;
    flex-direction: row; }
  .full-width .sidebar {
    display: none; }
  @media (min-width: 768px) {
    .full-width .sidebar {
      display: block;
      padding: 10px 20px;
      overflow-x: hidden;
      overflow-y: auto;
      /* Scrollable contents if viewport is shorter than content. */
      flex-grow: 1;
      background-color: #f4f4f4; } }
  .full-width .nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
    font-size: 1em;
    font-weight: bold; }
    .full-width .nav-sidebar > li > a {
      color: #333333;
      padding-right: 20px;
      padding-left: 20px;
      border-left: 5px solid transparent; }
      .full-width .nav-sidebar > li > a:hover {
        border-left: 5px solid #1e4d2b;
        color: #1e4d2b;
        background-color: #fff;
        font-size: 1.05em; }
    .full-width .nav-sidebar > .active > a, .full-width .nav-sidebar > .active > a:hover, .full-width .nav-sidebar > .active > a:focus {
      color: #1e4d2b;
      border-left: 5px solid #d9782d;
      background-color: #fff;
      font-weight: bold;
      font-size: 1.05em; }
  .full-width .main {
    padding: 20px;
    flex-grow: 1; }
    .full-width .main .page-header {
      margin-top: 0; }
  @media (min-width: 768px) {
    .full-width .main {
      padding-right: 40px;
      padding-left: 40px; } }
  .full-width #site-footer {
    margin-top: 0; }

#main-content {
  flex: 1; }

#root, #root > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #c8c372; }
  .page-header h1 {
    font-weight: bold; }

.section-container {
  margin: 35px 0; }

.section-header {
  padding: 5px 0;
  border-bottom: 4px double #c7c7c7;
  font-weight: bold; }

.permalink .icon {
  display: none;
  color: #c7c7c7;
  padding: 0 5px; }

.module-showcase header {
  border-bottom: 1px solid #c7c7c7; }

.text-box h4 {
  border-bottom: 1px solid #ececec;
  padding: 3px 0;
  font-family: 'prox-semibold'; }
  .text-box h4 small {
    font-size: 65%;
    color: #b3b3b3; }
.text-box h6 {
  color: #b3b3b3;
  margin-top: 5px;
  margin-bottom: 5px; }
.text-box.row {
  margin: 0; }

.blur-1 {
  filter: blur(1px); }
.blur-2 {
  filter: blur(2px); }
.blur-3 {
  filter: blur(3px); }
.blur-4 {
  filter: blur(4px); }

.flex-col-header {
  display: flex; }
  .flex-col-header .fa-stack {
    height: 0;
    float: right;
    line-height: inherit;
    margin-left: auto;
    color: #c7c7c7; }
    .flex-col-header .fa-stack .active {
      color: #333333;
      display: initial; }
    .flex-col-header .fa-stack i:first-child {
      margin-top: -4px; }
    .flex-col-header .fa-stack i:last-child {
      margin-top: 4px; }

.flex .body {
  flex: 1; }
.flex header, .flex .body, .flex footer {
  padding: 0.5em 0; }
.flex-row {
  flex-direction: row; }
.flex-row-reverse {
  flex-direction: row-reverse; }
.flex-column {
  flex-direction: column; }
.flex-column-reverse {
  flex-direction: column-reverse; }

.indent {
  margin-left: 1em; }

.define-term {
  margin: 10px;
  display: flex; }
  .define-term .term {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: #1e4d2b;
    color: #fff;
    padding: 7px 0;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px; }
  .define-term .def {
    background: #e4e4e4;
    padding: 7px 15px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px; }

.contact-block {
  box-shadow: 0px 0px 10px #d0d0d0;
  padding: 10px 20px;
  margin: 15px 0;
  flex: 1; }
  .contact-block p {
    margin: 0; }
  .contact-block .name {
    font-size: 1.1em;
    font-weight: bold; }
  .contact-block .title {
    font-style: italic; }

@media (min-width: 992px) {
  .flex {
    display: flex; }
    .flex-row, .flex-row-reverse, .flex-column, .flex-column-reverse {
      display: flex; } }
.nav-tabs-table {
  margin-bottom: 20px; }

.selectable tbody tr:hover {
  cursor: pointer; }

.error-page-heading {
  text-transform: uppercase;
  font-weight: bold; }

#page-404_not_found #main-content {
  display: flex;
  flex: 1 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #page-404_not_found #main-content div {
    display: flex;
    flex: 1 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -15%; }
    #page-404_not_found #main-content div .text-background {
      font-size: 42vmin;
      color: #e8e8e8;
      position: absolute;
      z-index: -1;
      margin-top: 0; }

#site-footer {
  font-size: .9em;
  background: #1e4d2b;
  width: 100%;
  padding: 14px 0px;
  margin-top: 25px; }
  #site-footer .container a, #site-footer .container p.copyright {
    color: #fff; }
  #site-footer .container ul {
    padding: 0;
    display: block; }
    #site-footer .container ul li:first-child {
      padding-left: 0; }
    #site-footer .container ul li {
      font-size: inherit;
      padding: 0 10px 0 10px;
      display: inline-block;
      border-right: 1px solid #fff; }
    #site-footer .container ul li:last-child {
      border-right: 0; }
  #site-footer .bottom-logo img {
    max-height: 50px; }

@media (max-width: 992px) {
  #site-footer {
    text-align: center; }
    #site-footer .container ul li {
      text-align: center;
      vertical-align: middle; } }
@media (max-width: 768px) {
  .navbar-brand {
    padding-left: 0; }

  .navbar-nav .active, .nav-sidebar .active {
    border-left: 4px solid #d9782d; }

  .full-width .topbar .bottom-header {
    padding-left: 0; }

  .single-column .navbar .container {
    margin-left: inherit;
    margin-right: inherit; }
  .single-column .navbar-header {
    float: inherit; }
  .single-column .navbar-collapse {
    padding: inherit; }

  .row-table .row .header * {
    text-align: left; } }
@media (min-width: 992px) {
  .flex {
    display: flex; }
    .flex-row, .flex-row-reverse, .flex-column, .flex-column-reverse {
      display: flex;
      flex: 1; } }
.todo-placeholder {
  background-color: red;
  font-weight: bold; }

/*# sourceMappingURL=main.css.map */
